{% extends 'home-templates/base.html'%}
{% block body %}


<div class="row">
    <div class="col-sm-6 align-items-center">
        <div class="mcq-skill-form" >
            <form action="" method="POST">
                {% csrf_token %}
                <label>Want to test your skills?</label><br>
                <input type="submit" value="Submit" value="Post" name="skill_submit"/>
            </form>
        </div>
    </div>
    
</div>


<div class="row">
    <div class="col-sm-6 align-items-center">
            <div>
                <div class="card-body">
                <h5 class="card-title">Multiple Choice Questions</h5>

                <p>Your skills present in  the job description: {{ present_skills }}</p> <br>
                <p>Your skills absent from the job description: {{ absent_skills }}</p> <br>

                <form action="" method="POST">
                    {% csrf_token %}
                    <!--
                    {% for i in qna_skills %}
                    <div>
                        <p>Skill :{{ i }}</p>
                    </div>
                    {% endfor %}
                    -->

                    {% for key,value in qna_dict.items %}

                    <div>
                        <p>{{ key }}</p>
                        <!--<p> {{ i.ques }}<br></p> <br>-->
                        <div class="quiz-div">
                             <!--<input type="text" placeholder="Enter Choice" id="option" minlength="1" maxlength="1" name="option[]"> <br><br> -->
                             <input type="radio" id="a" name="choice{{forloop.counter}}" value="A">
                             <label for="a">A</label><br>
                             <input type="radio" id="b" name="choice{{forloop.counter}}" value="B">
                             <label for="b">B</label><br>
                             <input type="radio" id="c" name="choice{{forloop.counter}}" value="C">
                             <label for="c">C</label><br>
                             <input type="radio" id="d" name="choice{{forloop.counter}}" value="D">
                             <label for="d">D</label><br><br>
                        </div>
                    </div>
                    {% endfor %}
                    <input type="submit" value="Submit Quiz" value="Post" name="quiz_submit"/>
                </form>
            </div>
    </div> 
</div>
{% endblock body %}
