{% extends 'home-templates/base.html'%}
{% block body %}

<div class="row">
    <div class="col-sm-6 align-items-center">
        {% for i in skills %}
            <div style="margin-left: 100px;">{{i}}</div><br>
        {% endfor %}
            <div>
                <div class="card-body">
                <h5 class="card-title">Multiple Choice Questions</h5>
                </div>
            </div>
    </div> 
</div>
<div class="row">
    <div class="col-sm-6 align-items-center">
            <div>
                <div class="card-body">
                <h5 class="card-title">Multiple Choice Questions</h5>
                <form action="" method="POST">
                    {% for i in mcqs %}
                    <div>
                        <p>{{i}}<br></p> <br>
                        {% csrf_token %}
                        <div class="quiz-div">
                             <input type="'text" placeholder="Enter Choice" name="option" id="option" minlength="1" maxlength="1"> <br><br>
                        </div>
                    </div>
                    {% endfor %}
                    <button type="submit">Submit Quiz</button> 
                </form>
            </div>
    </div> 
</div>

 
{% endblock body %}
