{% extends 'home-templates/recruiter-base.html'%} 

{% block body %}
    <div class="container">
        <div class="rec row">
            <div class="welcome-message">
                <!-- <h1>Welcome {{ username }}!</h1> -->
                <h1>Add a new Job Role</h1>
            </div>


            <div class="resume-form">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="form-group">
                            <label for="role_company">Select Company</label>
                            <select class="input-width form-select form-control" name="role_company" id="role_company" required>
                                <option disabled selected>Select Company</option>
                                {% for company in companies_list %}
                                <option value={{company.id}}>{{company}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">        
                            <label for="role">Role</label>
                            <input class="input-width form-control" placeholder="eg: Software Developer" type="text" name="role" id="role" required>
                        </div>
                        <div class="form-group">
                            <label for="package">Package</label>
                            <input class="input-width form-control" placeholder="eg: 12.5 (in LPA)" type="number" step='0.01' name="package" id="package" required>
                        </div>
                        <div class="form-group">
                            <label for=jd">Job Description</label>
                            <textarea class="input-width form-control" placeholder="eg: Web Engineer..."  name="jd" id="jd" required></textarea>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-success" value="Add Role">
                </form>
            </div>
        </div>
    </div>
{% endblock body %}