{% extends 'home-templates/base.html'%} 

{% block body %}
    <div class="container row">
        <h5>Your profile matches {{context}}% with the selected job role</h5>
        <progress id="precentage_similarity" value={{context}} max="100"> {{context}} </progress>
        <h5>Test your skills and get a detailed reports on your strengths and weakness!</h5>
        <form action="" method="POST">
            {% csrf_token %}
        <button id="take_test" name="take_test">Take Test</button>
        </form>
    </div>
{% endblock body %}