{% extends 'home-templates/base.html'%}
{% block body %}

<div class="container">
    <div class="rec row">
        <div class="d-flex justify-content-between">
            <a href="student/">
                <div class="student-card card bg-light mb-3" >
                    <div class="card-body">
                    <h5 class="card-title">I'm a Student</h5>
                    </div>
                </div>
            </a>

            <a href="recruiter/">
                <div class="recruiter-card card bg-light mb-3" ">
                    <div class="card-body">
                    <h5 class="card-title">I'm a Placecom User</h5>
                    </div>
                </div>
            </a>
        </div>
        
    </div>
</div>

   
{% endblock body %}
