{% extends 'home-templates/base.html'%}
{% block body %}

<div class="container wrapper">
    <div class="rec row">
        <h1 style="margin-bottom: 40px;">Welcome to Talent Acquisition Checker!</h1>
        <h4 style="margin-bottom: 20px;">
            We provide a Platform that can helps recruiters in hiring talent for their company by comparing resumes of different candidates and picking the most suitable ones for the role. 
        </h4>
            
        <h4>
            We also help the undergraduate students seeking a job to compare the compatibility of their resume with the demands of the corporate job profiles.
        </h4>
        <div class="d-flex justify-content-between">
            <a href="student/">
                <div class="student-card card bg-light mb-3">
                    <div class="card-body">
                    <h5 class="card-title">I'm a Student</h5>
                    </div>
                </div>
            </a>

            <a href="recruiter/">
                <div class="recruiter-card card bg-light mb-3">
                    
                    <div class="card-body">
                    <h5 class="card-title">I'm a Placecom User</h5>
                    </div>
                </div>
            </a>
        </div>
        <!-- <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        
        <br>
        <br>
        <br> -->
    </div>
    <div class="push"></div>
</div>

   
{% endblock body %}
