{% extends 'home-templates/base.html'%} 

{% block body %}
<div class="container">
    <div class="rec row">
        <div class="d-flex justify-content-between">
            <a href={% url 'add_student' %}>
                <div class="rec-card card bg-light mb-3" >
                    <!-- <div class="card-header">I'm a Student</div> -->
                    <div class="card-body">
                    <h5 class="card-title">Add Student</h5>
                    <!-- <p class="card-text"></p> -->
                    </div>
                </div>
            </a>

            <a href={% url 'view_student' %}>
                <div class="rec-card card bg-light mb-3" >
                    <!-- <div class="card-header">I'm a Student</div> -->
                    <div class="card-body">
                    <h5 class="card-title">View Student</h5>
                    <!-- <p class="card-text"></p> -->
                    </div>
                </div>
            </a>

        </div>

        <div class="d-flex justify-content-between">
            <a href={% url 'add_company' %}>
                <div class="rec-card card bg-light mb-3" >
                    <!-- <div class="card-header">I'm a Student</div> -->
                    <div class="card-body">
                    <h5 class="card-title">Add Company</h5>
                    <!-- <p class="card-text"></p> -->
                    </div>
                </div>
            </a>

            <a href={% url 'view_company' %}>
                <div class="rec-card card bg-light mb-3" >
                    <!-- <div class="card-header">I'm a Student</div> -->
                    <div class="card-body">
                    <h5 class="card-title">View Company</h5>
                    <!-- <p class="card-text"></p> -->
                    </div>
                </div>
            </a>
        </div>

        <div class="d-flex justify-content-between">
            <a href={% url 'add_role' %}>
                <div class="rec-card card bg-light mb-3" >
                    <!-- <div class="card-header">I'm a Student</div> -->
                    <div class="card-body">
                    <h5 class="card-title">Add a Role</h5>
                    <!-- <p class="card-text"></p> -->
                    </div>
                </div>
            </a>
            

            <a href={% url 'view_roles' %}>
                <div class="rec-card card bg-light mb-3" >
                    <!-- <div class="card-header">I'm a Student</div> -->
                    <div class="card-body">
                    <h5 class="card-title">View Roles</h5>
                    <!-- <p class="card-text"></p> -->
                    </div>
                </div>
            </a>
        </div>
        

        <div class="d-flex justify-content-between">
            <a href={% url 'view_compatibility' %}>
                <div class="rec-card card bg-light mb-3" >
                    <!-- <div class="card-header">I'm a Student</div> -->
                    <div class="card-body">
                    <h5 class="card-title">View Compatibility</h5>
                    <!-- <p class="card-text"></p> -->
                    </div>
                </div>
            </a>

            <a href={% url 'calendar' %}>
                <div class="rec-card card bg-light mb-3" >
                    <!-- <div class="card-header">I'm a Student</div> -->
                    <div class="card-body">
                    <h5 class="card-title">View Calendar</h5>
                    <!-- <p class="card-text"></p> -->
                    </div>
                </div>
            </a>
        </div>
        
    </div>
</div>
{% endblock body %}