{% extends 'home-templates/base.html'%} 

{% block body %}
<div class="row">
    <div class="col-sm-6 align-items-center">
        <a href={% url 'add_student' %}>
            <div>
                <div class="card-body">
                <h5 class="card-title">Add Students</h5>
                </div>
            </div>
        </a>
    </div>

    <div class="col-sm-6 align-items-center">
        <a href={% url 'view_student' %}>
            <div>
                <div class="card-body">
                <h5 class="card-title">View Students</h5>
                </div>
            </div>
        </a>
    </div>
    
    <div class="col-sm-6 align-items-center">
        <a href={% url 'add_company' %}>
            <div>
                <div class="card-body">
                <h5 class="card-title">Add Company</h5>
                </div>
            </div>
        </a>
    </div>

    <div class="col-sm-6 align-items-center">
        <a href={% url 'view_company' %}>
            <div>
                <div class="card-body">
                <h5 class="card-title">View Companies</h5>
                </div>
            </div>
        </a>
    </div>

    <div class="col-sm-6 align-items-center">
        <a href={% url 'add_role' %}>
            <div>
                <div class="card-body">
                <h5 class="card-title">Add Role</h5>
                </div>
            </div>
        </a>
    </div>

    <div class="col-sm-6 align-items-center">
        <a href={% url 'view_roles' %}>
            <div>
                <div class="card-body">
                <h5 class="card-title">View Roles</h5>
                </div>
            </div>
        </a>
    </div>

    <div class="col-sm-6 align-items-center">
        <a href=#>
            <div>
                <div class="card-body">
                <h5 class="card-title">View Compatibility</h5>
                </div>
            </div>
        </a>
    </div>
    
</div>
{% endblock body %}