{% extends 'home-templates/base.html'%} 

{% block body %}
    <div class="row container">
        <div class="welcome-message">
            <!-- <h1>Welcome {{ username }}!</h1> -->
            <h1>Welcome Placement Coordinator!</h1>
        </div>
        <!-- <div class="col-sm-6 align-items-center">
            <a href="student/">
                <div class="student-card card bg-light mb-3" >
                    <div class="card-body">
                    <h5 class="card-title">I'm a Student</h5>
                    </div>
                </div>
            </a>
        </div>
        
        <div class="col-sm-6 align-items-center">
            <a href="recruiter/">
                <div class="recruiter-card card bg-light mb-3" ">
                    <div class="card-body">
                    <h5 class="card-title">I'm a Recruiter</h5>
                    </div>
                </div>
            </a>
        </div> -->

        <div class="resume-form">
            <form>
                <div class="form-group">
                    <div>
                        <label for="enter_username">Enter Username</label>
                        <input type="t" name="username" id="username"><br>

                        <label for="enter_password">Enter Password</label>
                        <input type="password" name="password" id="password">
                    </div>
                    <br>
                    <!-- <div>
                        <label for="exampleFormControlFile1">Upload Your Resume</label><br>
                        <input type="file" class="form-control-file" id="exampleFormControlFile1"  accept="application/pdf">
                    </div> -->
                </div>
                <input type="submit" value="Login">
            </form>
        </div>
    </div>
{% endblock body %}