{% extends 'home-templates/base.html'%} 

{% block body %}

<div class="row container">
    <div class="welcome-message">
        <h1>Welcome Student!</h1>
    </div>
    <!-- <div class="col-sm-6 align-items-center">
        <a href="student/">
            <div class="student-card card bg-light mb-3" >
                <div class="card-body">
                <h5 class="card-title">I'm a Student</h5>
                </div>
            </div>
        </a>
    </div>
    
    <div class="col-sm-6 align-items-center">
        <a href="recruiter/">
            <div class="recruiter-card card bg-light mb-3" ">
                <div class="card-body">
                <h5 class="card-title">I'm a Recruiter</h5>
                </div>
            </div>
        </a>
    </div> -->

    <div class="resume-form">
        <form>
            <div class="form-group">
            <label for="exampleFormControlFile1">Upload Your Resume</label><br>
            <input type="file" class="form-control-file" id="exampleFormControlFile1"  accept="application/pdf">
            </div>
            <input type="submit" value="Upload">
        </form>
    </div>
</div>


<!-- <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br> -->

{% endblock body %}
