{% extends 'home-templates/base.html'%} 

{% block body %}

<div class="container wrapper">
    <div class="rec row">
        <div class="welcome-message">
            <h1>Welcome Student!</h1>
            <p>Select a job role to see how your current profile matches with it! You can also check how good your skills are with this job role and see the missing skills!

            </p>
        </div>
        <div class="resume-form">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                
                <button class="btn btn-success" name="single_role" id="single_role" value="single_role">Select a job role</button>
                <button style="margin-left: 50px;" class="btn btn-success" name="multiple_role" id="multiple_role" value="multiple_role">See your best fit job role</button>
                <br>
                <br>
                <div class="form-group">
                    <label for="exampleFormControlFile1">Enter your skills</label><br>
                    <!-- <textarea name="skills" id="skills" placeholder="eg: Python, Java, HTML, CSS..." class="form-control" style="width:50%" rows ='4'></textarea> -->
                    <input type="file" name="skills" id="skills" accept=".pdf">
                </div>
                <br>
                {% if display_roles %}
                <label for="jobRole">Select a Job Role</label><br>
                <!--
                <select name="jobRole" id="jobRole">
                    {% for i in job_roles %}
                    <option value={{i.get_jd_id}}>{{i}}</option>
                    {% endfor %}
                </select>
            -->
                <table class="table table-light table-striped"  style="width:50%">
                    <thead class="thead-dark">
                        <tr>
                        <th>Select</th>
                        <th>Company</th>
                        <th>Job Role</th>
                        </tr>
                    </thead>
                    {% for role in job_roles %}
                        <tr>
                        <td><input type="radio" id="jobRole" name="jobRole" value="{{role.get_jd_id}}"></td>
                        <td>{{role.get_jd_company_id}}</td>
                        <td>{{role}}</td>
                        </tr>
                    {% endfor %}
                </table>
                <br>
                <br>
                <input class="btn btn-success" type="submit" name="check_compatibility" id="check_compatibility" value="Check Compatibility">
                    <button style="margin-left: 50px;" class="btn btn-success" id="resume_to_resume" name="resume_to_resume" value="resume_to_resume">Compare with another resume?</button>
            {% endif %}
            </form>
        </div>
        <div>
        {% if avg_similarity %}
            Your Compatibility compared to placed students for {{selected_job_role}} role is {{avg_similarity}}%
        {% endif %}
        </div>
    </div>
    <div class="push"></div>
    <div class="push"></div>

</div>


{% endblock body %}
