{% extends 'home-templates/base.html'%} 

{% block body %}
    <div class="row container">
        <div class="welcome-message">
            <!-- <h1>Welcome {{ username }}!</h1> -->
            <h1>View Roles</h1>
        </div>
        <div>
            <table style="width:100%">
                <tr>
                  <th>Company</th>
                  <th>Job Role</th>
                  <th>Package</th>
                  <th>Description</th>
                  <th>Schedule</th>
                </tr>
                {% for role in roles_list %}
                    <tr>
                    <td>{{role.get_jd_company_id}}</td>
                    <td>{{role}}</td>
                    <td>{{role.get_package}}</td>
                    <td>{{role.get_job_desc}}</td>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <td><button id="schedule_event" name="schedule_event" value="{{role.get_jd_id}}">Schedule</button></td>
                    </form>
                    </tr>
                {% endfor %}
              </table>
            <br>
         
        </div>
    </div>
{% endblock body %}