{% extends 'home-templates/recruiter-base.html'%} 

{% block body %}
<div class="container wrapper">
    <div class="rec row">
        <div class="welcome-message">
            <h1>View Compatibility of Student</h1>
        </div>

        {% if check_display_company %}
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="company">Select a Company</label>
                    <select class="form-select form-control input-width" name="company" id="company" required>
                        <option disabled selected>Select Company</option>
                        {% for company in companies_list %}
                            <option value={{company.id}}>{{company}}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-success" name="check_company" id="check_company" value="submit_company">Select Company</button>
            </form>
        {% endif %}

        {% if check_set_company %}
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <br>
                    <h6>Select a Role of the Company</h6>
                    <div class="form-control input-width-small">
                        {% for role in roles_list %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="{{role.get_jd_id}}" name="selected_role" value="{{role.get_jd_id}}">
                            <label class="form-check-label" for="{{role.get_jd_id}}">{{role.get_jd_role}}</label><br>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <button class="btn btn-success" type="submit" name="get_role" id="get_role" value="submit_role">Submit Role</button>
            </form>
        {% endif %}
        {% if check_select_students %}
        <div>
            <h3>Select students for the role: </h3>
            <form action="" method="POST">
                {% csrf_token %}
                <!-- <select class="input-width form-control form-select" name="program" id="program" required>
                    <option disabled selected>Filter Program</option>
                    <option value="B.Tech">B.Tech</option>
                    <option value="MBA.Tech">MBA.Tech</option>
                    <option value="MCA">MCA</option>
                    <option value="BTI">BTI</option>
                </select>
                <select class="input-width form-control form-select" name="branch" id="branch" required>
                    <option disabled selected>Filter Branch</option>
                    <option value="CS">CS</option>
                    <option value="IT">IT</option>
                    <option value="Mechanical">Mechanical</option>
                    <option value="EXTC">EXTC</option>
                    <option value="Civil">Civil</option>
                    <option value="Mechantronics">Mechantronics</option>
                    <option value="Data Science">Data Science</option>
                </select>
                <button name="filter_data" id="filter_data" value="filter_data">Filter</button> -->
                
            <table class="table table-light table-striped" style="width:100%">
                <tr>
                    <td colspan="11">
                        <input type="checkbox" onClick="toggle(this)"><span style="margin-left: 25px; border-bottom: none;" class="text-primary">Select all</span>
                    </td>
                </tr>
                <thead class="thead-dark">
                    <tr>
                        <th>Select</th>
                        <th>Student Name</th>
                        <th>SAP ID</th>
                        <th>Program</th>
                        <th>Branch</th>
                        <th>Year</th>
                        <th>Division</th>
                        <th>Phone Number</th>
                        <th>Email</th>
                        <th>CGPA</th>
                        <th>Placement Status</th>
                      </tr>
                </thead>
                {% for student in student_list %}
                

                <tr>
                    <td><input type="checkbox" id="{{student.id}}" name="selected_students[]" value="{{student.id}}"></td>
                    <td>{{student.student_name}}</td>
                    <td>{{student.sap_id}}</td>
                    <td>{{student.program}}</td>
                    <td>{{student.branch}}</td>
                    <td>{{student.year}}</td>
                    <td>{{student.division}}</td>
                    <td>{{student.phone_number}}</td>
                    <td>{{student.email}}</td>
                    <td>{{student.cgpa}}</td>
                    <td>{{student.placement}}</td>
                </tr>
                {% endfor %}
              </table>
              <input type="text" name='selected_role_id' id = 'selected_role_id' value="{{selected_role_id}}" hidden>
              <button type="submit" class="btn btn-lg btn-success" name="get_students" id="get_students" value="submit_students">Submit</button>
              </form>
            <br>
        </div>
       {% endif %}
    </div>
    <div class="push"></div>
    <div class="push"></div>

</div>
<script language="JavaScript">
    function toggle(source) {
    checkboxes = document.getElementsByName('selected_students[]');
    for(var i=0, n=checkboxes.length;i<n;i++) {
        checkboxes[i].checked = source.checked;
    }
}

</script>
{% endblock body %}