{% extends 'home-templates/recruiter-base.html'%} 

{% block body %}
<div class="container wrapper">
    <div class="rec row">
        <div class="welcome-message">
            <!-- <h1>Welcome {{ username }}!</h1> -->
            <h1>View Roles</h1>
        </div>
        <div class="container">
            <table class="table table-light table-striped" style="width:100%">
                <tr>
                    <thead class="thead-dark">
                        <th>Company</th>
                        <th>Job Role</th>
                        <th>Package</th>
                        <th>Description</th>
                        <th>Schedule</th>
                    </thead>
                </tr>
                {% for role in roles_list %}
                    <tr>
                    <td>{{role.get_jd_company_id}}</td>
                    <td>{{role}}</td>
                    <td>{{role.get_package}}</td>
                    <td class="job-desc">{{role.get_job_desc}}</td>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <td><button id="schedule_event" class="btn btn-info btn-sm" name="schedule_event" value="{{role.get_jd_id}}">Schedule</button></td>
                    </form>
                    </tr>
                {% endfor %}
              </table>
            <br>
         
        </div>
    </div>
    <div class="push"></div>
</div>
{% endblock body %}